*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --bg: #ECC8AF;
  --normal: ghostwhite;
  --accent: #C18C5D;
  --accent2: #E7AD99;
  --accent3: #495867;
  --accent4: #CE796B;
  --warning: hsl(0, 70%, 40%);
}

body {
  background: var(--bg);
  padding: 8px;
  font-family: "Asap", sans-serif;
}

header {
  color: var(--accent3);
  font-weight: 700;
  font-size: clamp(2rem, 4vw, 4rem);
  text-align: center;
  padding: 0.5em;
  letter-spacing: -1.5px;
}

footer p {
  margin: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

button {
  cursor: pointer;
}

.table-wrapper {
  width: 900px;
  max-width: 100%;
  margin: auto;
}

table {
  width: 100%;
  overflow: hidden;
  border-collapse: collapse;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom: solid var(--accent);
  margin-bottom: 16px;
  font-size: 1.1rem;
  font-weight: 100;
}

thead {
  background: var(--accent);
  color: var(--normal);
  text-align: left;
}

th,
td {
  padding: 1rem;
}

tr>th:first-of-type,
tr>td:first-of-type {
  padding-left: 32px;
  font-weight: 700;
}

tr>td:first-of-type {
  color: var(--accent3);
}

.emptyrow {
  color: var(--accent3);
  font-family: "Times New Roman", serif;
  text-align: center;
  font-style: italic;
}

tbody>tr:nth-child(odd) {
  background: var(--accent2);
}

table td:not(:last-of-type)>button {
  width: 103px;
  font-size: 1rem;
  padding: 8px 16px;
  border: 1px solid;
  border-radius: 8px;
  color: var(--accent3);
}

table td:not(:last-of-type)>button.read {
  background: var(--accent4);
  border: 1px solid hsl(24, 100%, 30%);
  color: var(--normal);
}

table td:last-of-type>button {
  background: transparent;
  border: none;
  opacity: 0.4;
  vertical-align: middle;
}

.button-wrapper {
  position: relative;
}

.add-book-form {
  visibility: hidden;
  opacity: 0;
  transition: opacity 100ms ease-out;
  position: absolute;
  background: var(--normal);
  padding: 16px 32px;
  box-shadow: 2px 2px 10px hsla(0, 0%, 0%, 0.3);
  border-radius: 4px;
}

.add-book-form::before {
  content: '';
  display: block;
  position: absolute;
  left: -6px;
  top: 46%;
  width: 25px;
  height: 25px;
  transform: rotate(45deg);
  background: var(--normal);
}

.form-header {
  background: var(--accent3);
  border-radius: 4px;
  padding: 16px 32px;
  margin: -16px -32px;
  margin-bottom: 16px;
  color: var(--normal);
  font-size: 1.2rem;
  font-weight: 700;
}

.add-book-form.show-form {
  visibility: visible;
  opacity: 1;
  top: -160px;
  left: 160px;
}

.form-main label {
  display: block;
  color: var(--accent3);
  font-size: 0.9rem;
}

.form-main label[for="title"]::after {
  content: attr(data-error);
  font-family: serif;
  font-size: 1rem;
  font-style: italic;
  color: var(--warning);
  padding-left: 24px;
}

.form-main>p+p {
  margin-top: 8px;
}

.form-main input:not([type="checkbox"]) {
  height: 32px;
  min-width: 250px;
  background: hsla(210, 17%, 35%, 0.3);
  padding: 8px;
  border: none;
}

.form-main input:not([type="checkbox"])::placeholder {
  opacity: 0.3;
}

.form-buttons {
  display: flex;
  justify-content: flex-end;
}

.form-buttons>button.cancel {
  color: var(--warning);
  background: none;
  border: none;
  margin-right: 16px;
}

.form-buttons>button.confirm {
  color: var(--normal);
  background: var(--accent3);
  border: none;
  border-radius: 4px;
  padding: 8px;
  font-weight: 700;
}

.add-book {
  --color: var(--accent3);
  --bgcolor: transparent;
  font-size: 1.3rem;
  padding: 8px 16px;
  font-weight: 700;
  color: var(--color);
  border: solid var(--accent3);
  border-radius: 8px;
  background: var(--bgcolor);
}

.add-book:hover {
  color: var(--normal);
  background: var(--accent3);
}